<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div class="max-w-2xl md:w-3/4 py-4 mx-2">
  <div class="px-4 my-4 font-medium">通知</div>
    <% if notifications.exists? %>
      <%= render notifications %>
    <% else %>
      <p>まだ、通知はありません。</p>
    <% end %>
  </div>
</div>