<div class="max-w-2xl md:w-3/4 py-4 mx-2">
  <div class="px-4 my-4 font-medium"></div>

  <% provide(:title, 'All users') %>
  <h1>All users</h1>
  <div class="">
    <% @users.each do |user| %>
      <%= render 'user_card', user: user %>
      <div id="rscounter_<%= user.id %>">
        <%= render "relationshipcounter", user: user %>
      </div>
    <% end %>
  </div>
</div>