<div class="max-w-2xl md:w-3/4 py-4 mx-2">
  <div class="px-4 my-4 font-medium"></div>

  <% provide(:title, 'following') %>
  <h1>following</h1>
  
  <div class="users">
    <% @users.each do |user| %>
      <%= render 'user_card', user: user %>
    <% end %>
  </div>
</div>